.formContainer {
  /* text-align: left; */
  display: grid;
  justify-content: start;
}

.formContainer label {
  font: 1em sans-serif;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.formContainer input {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.creatine-select {
  appearance: none;
  /* safari */
  -webkit-appearance: none;
  /* other styles for aesthetics */
  /* width: 100%; */
  font-size: 1.15rem;
  padding: 0.675em 6em 0.675em 1em;
  background-color: #fff;
  border: 1px solid #caced1;
  border-radius: 0.25rem;
  color: #000;
  cursor: pointer;
}

.chad-risk-table td {
  border: 1px solid black;
}
.risk-selected-active {
  background-color: red;
}
